.container {
  max-width: 800px; }
.docs-section {
  border-top: 2px solid hsla(19, 97%, 56%, .2);
  padding: 4rem 0;
  margin-bottom: 0;
}
header {
  padding: 4rem 0 0 0;
  margin-bottom: 0;
}
.example {
  margin-top: 4rem; }

/* Navbar */
.navbar {
  margin-bottom: 4rem;
  user-select: none;
  display: block;
  width: 100%;
  height: 4rem;
  z-index: 99;
  display: flex;
  justify-content: center;
}
@media (min-width: 550px) {
  .navbar {
    justify-content: flex-end;
  }
}
.navbar-list {
  list-style: none;
  margin-bottom: 0;
  background-color: hsla(19, 97%, 56%, .8);
  border-radius: 50px;
  padding: 0 3px;
}
.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0; }
.navbar-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  line-height: 4rem;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
}
/* temp fix for navbar breaking on landscape iPhone 5/SE  */
@media (max-width: 641px) and (min-width: 550px) {
  .navbar-link {
    padding: 10px 12px;
  }
}

.navbar-link.active {
  color: hsla(19, 97%, 56%, 1);
  background-color: white;
}
.navbar-link.active:hover {
  color: hsla(19, 97%, 56%, 1);
  cursor: default;
}
.navbar-link:hover {
  color: hsla(19, 97%, 92%, 1);
}
/* Subnav */
.sub-nav {
  margin-bottom: 4rem;
  user-select: none;
  display: block;
  width: 100%;
  height: 4rem;
  z-index: 99;
  padding: 0;
}
.sub-nav-list {
  list-style: none;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid hsla(19, 97%, 56%, .2);
}
.sub-nav-item {
  margin-bottom: 0;
  margin-right: 25px;
}
.sub-nav-link {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  line-height: 4rem;
  color: hsla(19, 97%, 56%, .5);
}
.sub-nav .active a {
  color: hsla(19, 97%, 56%, 1);
}
.sub-nav .active::after {
  background-color: hsla(19, 97%, 56%, 1);
}
.sub-nav-item::after {
  content: "";
  top: 2px;
  position: relative;
  display: block;
  min-width: 25px;
  height: 2px;
}
svg,
img {
 border-radius: 3px;
 box-shadow: hsla(19, 97%, 15%, 0.05882) 0 20px 43px, hsla(19, 97%, 15%, 0.04705) 0 1px 10px;
 transition: box-shadow 1.5s ease-in-out, transform 1.5s ease-in-out;
}
a img:hover {
  box-shadow: hsla(19, 97%, 15%, 0.2196) 0 20px 43px, hsla(19, 97%, 15%, 0.1803) 0 4px 11px;
  transform: translate3d(0, -5px, 0);
}

.asterisk {
  color: red;
}
h2 {
  font-weight: 800;
}
@media (max-width: 550px) {
  h2 {
    text-align: center;
  }
}
h4 {
  font-weight: 700;
}
h6 {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600;
}
footer {
  background-image: linear-gradient(180deg, hsla(19, 97%, 56%, .8) 49%, hsla(19, 97%, 46%, 0.8) 100%);
  font-size: 1.1rem;
  margin-top: 5rem;
}
footer .container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
footer .container:after {
  content: none;
}
footer,
footer a {
  color: white;
}
footer a:hover {
  color: white;
}
footer svg {
  filter: drop-shadow(0 6px 2px hsla(19, 97%, 41%, 0.7));
  position: relative;
  top: -1px;
}

.no-box-shadow,
.no-box-shadow:hover {
  box-shadow: none !important;
}
.no-transform,
.no-transform:hover {
  transform: none !important;
}
.light-grey {
  color: #bbbbbb;
}
