.u-align-left {
	text-align: left;
}
.u-align-right {
	text-align: right;
}
body {
	background-color: #F2F4F8;
	padding: 30px 0;
	color: #222c40;
}
h1 {
	color: #222c40;
	padding-top: 6rem;
	margin: 0;
}
a {
	color: #526a99;
	text-decoration: underline;
	text-decoration-color: #c0cadd;
}
a:hover {
	color: #99a8c8;
}
.link__audio-ui:hover {
	color: HSL(250, 100%, 90%);
}
.link__drugulator:hover {
	color: HSL(218, 100%, 72%);
	text-decoration-color: HSL(218, 100%, 72%);
}
.link__harvest:hover {
	color: HSL(124, 30%, 80%);
	text-decoration-color: HSL(124, 30%, 80%);
}
.link__concepts:hover {
	color: HSL(52, 100%, 82%);
	text-decoration-color: HSL(52, 100%, 82%);
}
.link__art:hover {
	color: HSL(329, 55%, 73%);
	text-decoration-color: HSL(329, 55%, 73%);
}
.link__swanson:hover {
	color: HSL(130, 72%, 77%);
	text-decoration-color: HSL(130, 72%, 77%);
}

/* Hover effects for images */
.image-link img {
	transition: all 0.5s ease-in-out;
	background-color: #c0cadd;
	margin-top: 2rem;
}

a:hover + a .image__audio-ui,
.image-link:hover .image__audio-ui {
	background-color: HSL(250, 100%, 90%) ;
}
a:hover + a .image__drugulator,
.image-link:hover .image__drugulator {
	background-color: HSL(218, 100%, 72%);
}
a:hover + a .image__harvest,
.image-link:hover .image__harvest {
	background-color: HSL(124, 30%, 80%);
}
a:hover + a .image__concepts,
.image-link:hover .image__concepts {
	background-color: HSL(52, 100%, 82%);
}
a:hover + a .image__art,
.image-link:hover .image__art {
	background-color: HSL(329, 55%, 73%);
}
a:hover + a .image__swanson,
.image-link:hover .image__swanson {
	background-color: HSL(130, 72%, 77%);
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.sticky {
		position: sticky;
		top: 30px;
	}
}
@media print {
	body {
		background-color: white;
	}
	h1,
	p,
	ul,
	li {
		color: black;
	}
}
/* Smaller than mobile */
@media (max-width: 400px) {
	body {
		font-size: 1.3em;
		line-height: 1.5;
	}
}
/* Super small phones */
@media (max-width: 320px) {
	body {
		font-size: 1.125em;
		line-height: 1.6;
	}
}