// Drug Combos
@keyframes breathe {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 67%;
	}
}

// Independent Work
.breathe-animation {
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	img {
		top: 0;
		left: 0;
		&:first-of-type {
			position: relative;
		}
		&:last-of-type {
			position: absolute;
			animation: breathe 7s ease-in-out infinite;
			animation-direction: alternate;
		}
	}
}