// Oranges
@color__dark:       hsla(19,  97%,  56%, 1.0);
@color__dark-hover: hsla(19,  97%,  92%, 1.0);
@color__medium:     hsla(19,  97%,  56%, 0.8);
@color__light:      hsla(19,  97%,  56%, 0.2);

// Whites
@color__white:		hsla( 0,   0%, 100%, 1.0);
@color__body-bg:	hsla(19,  28%,  95%, 1.0);

@color__light-blue:	#78DCE8;

// Blacks
@color__tar:		#2d2a2e;
@color__grey:		hsla(0,   0%,   13%, 0.5);
@color__black:		hsla(0,   0%,   13%, 1.0);

@import "normalize.less";
@import "skeleton.less";

main,
nav,
section {
	max-width: 800px;
}
// Nav
.nav {
	list-style: none;
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: 2px solid @color__light;
	margin-bottom: 4rem;
	user-select: none;
}
header {
	padding: 1.25rem 0;
	margin-bottom: 4rem;
	background-color: #E0D6D1;
	nav {
		display: flex;
		justify-content: space-between;
		a {
			// Name [bunch of space] other links
			&:first-of-type {
				flex-grow: 2;
			}
			&:not(:first-child) {
				margin-left: 2rem;
			}
		}
	}
	a {
		color: @color__black !important;
		text-decoration-color: @color__dark;
	}
	&.dark {
		background: #1d191f;
		a {
			color: @color__white !important;
			text-decoration-color: transparent;
		}
	}
}
.bold-900 {
	font-weight: 900;
}
.bold-600 {
	font-weight: 600;
}
hr {
	height: 2px;
	margin: 4rem 0;
	background: @color__light;
	border: none !important;
	border-color: transparent !important;
	&.on-dark {
		background: @color__white;	
	}
}

.hover-effect {
	border-radius: 3px;
	box-shadow: hsla(19, 97%, 15%, 0.05882) 0 20px 43px, hsla(19, 97%, 15%, 0.04705) 0 1px 10px;
	transition: box-shadow 1.5s ease-in-out, transform 1.5s ease-in-out;
	&:hover {
		box-shadow: hsla(19, 97%, 15%, 0.2196) 0 20px 43px, hsla(19, 97%, 15%, 0.1803) 0 4px 11px;
		transform: translate3d(0, -5px, 0);
	}

}
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}
body.tar {
	background: @color__tar;
}
h6 {
	font-size: 1.5rem;
	font-weight: 500;
	color: #fb6621;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
footer {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
	font-size: 1.5rem;
	margin-top: 5rem;
	padding-bottom: 7rem;
	svg {
		position: relative;
		top: -3px;
		padding-bottom: 7rem;
	}
	a {
		text-decoration-color: @color__white !important;
		display: block;
	}
	&,
	& a,
	& a:hover {
		color: white;
	}
	&,
	p,
	h1,
	a {
		&::selection {
			background-color: @color__dark;
		}
	}
	h5 {
		text-transform: uppercase;
		margin: 3rem 0 1rem 0;
		opacity: 0.6;
	}
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.animation-toggle {
	input,
	label {
		display: inline-block;
	}
	input {
		margin-right: 5px;
	}
}

p a {
	text-decoration-color: @color__medium;
	color: inherit;
	transition: all 0.75s ease;
	&.on-dark {
		color: @color__light-blue;
		text-decoration-color: @color__white;
	}
}
.center {
	text-align: center;
}
.button__next-page {
	p {
		padding: 3rem;
		line-height: 3rem;
		a {
			text-decoration-color: @color__dark;
			font-size: 4rem;
			font-weight: 900;
		}
	}
}
.wallpaper-callout {
	padding: 3rem;
	line-height: 3rem;
	.big-text {
		text-decoration-color: @color__dark;
		font-size: 4rem;
		font-weight: 900;
	}
}
.uppercase {
	text-transform: uppercase;
}
.at-a-glance {
	background-color: white;
	color: @color__tar;
	padding: 20px;
	border: 2px solid @color__tar;
	margin-bottom: 3rem;
}
.no-margin {
	margin: 0;
}
cite,
.img-caption {
	font-style: italic;
	color: @color__grey;
	font-size: 1.25rem;
	&.on-dark {
		color: @color__light-blue
	}
}
.no-list-style {
	list-style: none;
}
blockquote {
	border-left: 5px solid @color__light;
	background: @color__light;
	padding: 3rem;
	margin: 0 0 1rem 0;
}
.background-test2 {
	background-image: linear-gradient(0deg, #499AE8 0%, #499AE7 6%, #4898E5 11%, #4796E2 16%, #4693DE 21%, #4490D9 25%, #428BD2 30%, #4086CB 34%, #3D81C3 38%, #3A7BBA 42%, #3774B1 46%, #346DA6 50%, #30659B 54%, #2C5D8F 58%, #285483 62%, #244B76 66%, #1F4269 70%, #1B385B 75%, #162D4D 79%, #11233F 84%, #0C1833 89%, #070C29 94%, #040125 100%);
}
.white {
	color: @color__white;
}
.yellow {
	color: rgb(240, 214, 40);
}
.index-image {
	border-radius: 7px;
	box-shadow: 0 10px 24px -6px rgba(0, 0, 0, 0.55);
}
.font-size-225 {
	font-size: 2.25rem;
}
.index-text {
	margin-bottom: 7rem;
	color: white;
	p {
		margin: 0;
		&:first-of-type {
			font-size: 2.25rem;
			margin-top: 1rem;
		}
		&:last-of-type {
			color: #b5acb8;
		}
	}
}
.intro-copy {
	margin: 5rem 0;
	p {
		font-size: 3.33rem;
	}
}
@import "print.less";