body {
	background: white;
}
h1,
h4,
p {
	text-align: left;
}
p {
	margin-top: 4rem;
	margin-bottom: 0;
}

/* Images */
a,
a img {
	transition: all 0.5s ease-out;
}
a:hover img {
	opacity: 0.75;
}
a {
	color: black;
	text-decoration-color: lightblue;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
}
.home-image {
	border-radius: 29px;
}
.new {
	color: red;
	text-decoration-color: #3DD94C;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	padding: 1px 10px;
	margin-left: 10px;
	font-weight: bold;
	border-radius: 30px;
	color: white;
	background: #3DD94C;

}