body {
	background-color: #F2F4F8;
	padding: 30px 0;
	color: #222c40;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}
h2 {
	padding-bottom: 2rem;
	margin: 0;
}
.foru-button {
	display: block;
	background-color: #bbd5ea;
	border-color: #a6cada;
}
.convo-word:before {
	display: inline-block;
	min-width: 3rem;
}
.lady:before {
	content: "L";
	color: #f48db4;
}
.gentleman:before {
	content: "D";
	color: #00bbf0;
}

@media print {
	body {
		background-color: white;
	}
	h1,
	p,
	ul,
	li {
		color: black;
	}
}