body {
	color: #000000;
	line-height: 1.45;
}
a {
	text-decoration-thickness: 2px;
	text-decoration: underline;
	text-decoration-color: purple;
}
h1 {
	font-weight: 600;
	margin-top: 3rem;
}
h3 {
	margin-top: 3rem;
	font-weight: 500;
}
h4 {
	font-weight: 300;
}
code {
	white-space: collapse;
}

.orangeish {
	background: HSL(30, 75%, 96%);
	border: 1px solid HSL(30, 75%, 80%);
}
.bluish {
	background: HSL(180, 45%, 96%);
	border: 1px solid HSL(180, 45%, 80%);
}
.pinkish {
	background: HSL(300, 45%, 96%);
	border: 1px solid HSL(300, 45%, 80%);
}
.orangeish h3 {
	color: HSL(30, 75%, 50%);
}
.bluish h3 {
	color: HSL(180, 45%, 50%);
}
.pinkish h3 {
	color: HSL(300, 45%, 50%);
}

main {
	border-radius: 10px;
	margin-bottom: 4rem;
}